.project-links {
  list-style: none;
  padding: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  margin: 0;
  text-align: center;
}

.project-links li {
  margin: 1em;
}

.project-links li:hover {
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .project-links h4 {
    margin: 0.5em  0 1em;
    font-size: 1.2em;
  }

  .project-links {
    flex-direction: column;
    text-align: right;
  }
}

