#about-me {
  width: 80%;
  margin: 1em;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  background-color: #ccc;
  height: auto;
  margin-top: 150px;
  border-radius: 3px;
}

#about-me p {
  padding: 1em;
  line-height: 2em;
}

@media only screen and (min-device-width: 768px){
  #about-me {
    width: 50%;
  }
  
}