#about-me {
  width: 90%;
  margin: 1em;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px !important;
  color: #ccc;
  background-color: #18121E;
  border-radius: 0px !important;
  box-shadow: 10px 10px 10px #111;
}

#about-me p {
  padding: 1em;
  line-height: 2em;
}

.logos {
  width: 80%;
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #233237;
  box-shadow: 5px 5px 5px black;
}

@media only screen and (min-device-width: 768px){
  #about-me {
    width: 70%;
  }

  #about-me  p{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}