#portfolio {
  width: 80%;
  margin: 1em;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  overflow: auto;
  margin-top: 150px;
  border-radius: 3px;
}

.project-title {
  padding: 1em;
  text-align: center;
  font-size: 1.4em;
}

.project-description {
  padding: 0 2em 2em 2em;
  line-height: 2em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#projects {
  overflow: auto;
}

#portfolio ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#poker-winrate {
  background-color: #ccc;
  height: 1000px;
}

#spaced-repetition {
  background-color: #ccc;
  height: 1000px;
}

#now-playing{
  background-color: #ccc;
  margin-bottom: 100px;
}

.project-buttons {
  display: flex;
  justify-content: space-evenly;
}

.project-buttons button {
  margin: 10px;
  width: 150px;
  height: 2.5em;
  border-radius: 5px;
}

.app-screenshot {
  width: 80%;
  height: auto;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.main-image {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail-images {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.thumbnail-image {
  height: 125px;
  width: auto;
}

.thumbnail-image:hover {
  cursor: pointer;
}

@media only screen and (min-device-width: 768px){
  #portfolio {
    width: 70%;
  }
  
}