#portfolio {
  width: 80%;
  margin: 1em;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  overflow: auto;
  margin-top: 150px;
}

.project-title {
  padding: 1em;
  text-align: center;
  font-size: 1.2em;
}

.project-description {
  padding: 0 2em 2em 2em;
  line-height: 2em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#projects {
  overflow: auto;
}

#portfolio ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

#poker-winrate {
  background-color: #ccc;
  height: 1000px;
}

#spaced-repetition {
  background-color: white;
  height: 1000px;
}

#now-playing{
  background-color: gray;
  height: 1000px;
}

@media only screen and (min-device-width: 768px){
  #portfolio {
    width: 70%;
  }
  
}