#portfolio {
  width: 90%;
  margin: 1em;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px !important;
  color: #ccc;
  background-color: #18121E;
  border-radius: 0px !important;
  box-shadow: 10px 10px 10px #111;
}

.project-title {
  padding: 0.5em;
  text-align: center;
  font-size: 1.4em;
  color: #FAC67A;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.project-description {
  padding: 0 2em 2em 2em;
  line-height: 2em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#portfolio ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#poker-winrate {
  border-bottom: 1px solid white;
  padding-bottom: 30px;
}

#spaced-repetition {
  padding-bottom: 30px;
}

#now-playing{
  border-bottom: 1px solid white;
  padding-bottom: 30px;
}

.project-buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: input-serif, serif;
  font-weight: 500;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
}

.project-buttons button {
  text-align: center;
  width: 200px;
  margin-top: 5px;
  height: 3.5em;
  background-color: #233237;
  color: #EAC67A;
  box-shadow: 3px 3px 3px black;
  border: none;
}

.main-image {
  display: none;
}

.thumbnail-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail-image {
  margin: 5px;
  height: auto;
  width: 90%;
  border: 1px solid #FAC67A;
  margin-left: auto;
  margin-right: auto;
}

.project-buttons button:hover {
  cursor: pointer;
  border: 1px solid #984b43;
  height: 105%;
}


@media only screen and (min-device-width: 768px)  and (max-device-width: 1024px){
  .image-carousel {
    display: flex;
    flex-direction: column-reverse;
    width: 80%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .main-image {
    display: block;
    width: 100%;
    height: auto;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 3px inset white;
    border-radius: 5px;
  }
  
  .thumbnail-image {
    margin: 0;
    height: 32%;
    width: 30%;
  }
  
  .thumbnail-images {
    margin: 0;
    display: flex;
    flex-direction: row;

  }

  .project-buttons {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
  }

  .project-buttons button {
    width: 16vw;
  }

}

@media only screen and (min-device-width: 1025px){
  #portfolio {
    width: 70%;
    margin: 1em;
    padding: 1em;
    margin-left: 15.5%;
    margin-top: 125px;
  }
  
  .project-description {
    padding: 0 2em 2em 2em;
    line-height: 2em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #portfolio ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .project-buttons {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
  }

  .project-buttons button {
    width: 14vw;
  }
  
  .image-carousel {
    display: flex;
    width: 80%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    padding: 0.5em;
  }

  .main-image {
    display: block;
    width: 70%;
    height: auto;
  }
  
  .thumbnail-image {
    margin: 0;
    height: 32%;
    width: 250px;
  }
  
  .thumbnail-images {
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
  }
  
  .thumbnail-image:hover {
    cursor: pointer;
    border: 1px solid #984B43;
  }

  p {
    padding: 1em;
    margin: 0;
    font-weight: 600;
    color: #ccc;
    background-color: 233237;
  }
}