#contact-info {
  width: 90%;
  margin: 1em;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px !important;
  color: #ccc;
  background-color: #18121E;
  border-radius: 0px !important;
  box-shadow: 10px 10px 10px #111;
}

@media screen and (min-width: 768px) {
  #contact-info {
    width: 70%;
    margin-right: auto;
    margin-top: 125px;
  }
}