#contact-info {
  width: 90%;
  margin: 1em;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px !important;
  color: #ccc;
  background-color: #18121E;
  border-radius: 0px !important;
  box-shadow: 10px 10px 10px #111;
}

.contact-list p {
  margin-top: 30px;
  font-size: 1.20em;
  font-family: input-serif, serif;
  font-style: normal;
}

.contact-list {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.contact-list a:hover {
  color: #984b43;
}

.contact-list li {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.20em;
  font-family: input-serif, serif;
  font-style: normal;
  color: #FAC67A;
}

@media screen and (min-width: 1024px) {
  #contact-info {
    width: 70%;
    margin-right: auto;
    margin-top: 150px !important;
  }

  .contact-list p {
    font-size: 1.32em;
  }

  .contact-list li {
    font-size: 1.24em;
  }

}