header {
  position: fixed;
  text-align: center;
  width: 100%;
  top: 0;
  background-color: #233237;
  color: #efefef;
  z-index: 10;
  height: 108px;
  box-shadow: 0 5px 5px black;
}

header h1 {
  font-family: input-serif, serif;
  font-weight: 500;
  font-style: normal;
  padding: 3px;
  margin: 0;
}

header h2 {
  font-family: input-serif, serif;
  font-weight: 500;
  font-style: normal;
  display: none;
}

header a {
  text-decoration: none;
}

header a:hover {
  color: #FF3b3F;
}

header a:visited {
  color: #18121e;
}

@media screen and (min-width: 1025px) {
  header {
    text-align: left;
  }

  header h1 {
    margin-left: 25%;
  }
  
  header h2 {
    margin-left: 30%;
    display: block;
  }
  
}
