header {
  position: fixed;
  text-align: center;
  width: 100%;
  top: 0;
  background-color: #18121E;
  color: #ccc;
  z-index: 10;
  height: 108px;
  border-bottom: 10px solid #233237;
}

header h1 {
  font-size: 32px;
  padding: 3px;
  font-family: input-serif, serif;
  font-weight: 500;
  font-style: normal;
  margin: 0;
}

header h2 {
  font-family: input-serif, serif;
  font-weight: 500;
  font-style: normal;
  display: none;
}

header a {
  text-decoration: none;
  color: #ccc;
}

header a:hover {
  color: #984B43;
}

header a:visited {
  color: #ccc;
}

@media screen and (min-width: 1024px) {
  header {
    text-align: left;
  }

  header h1 {
    margin-left: 21.5%;
  }
  
  header h2 {
    margin-left: 30%;
    display: block;
  }
  
}
