  .navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 12;
    text-align: right;
    font-family: input-serif, serif;
    font-style: normal;
    font-size: 0.85em;
    color: #a9a9a9;
    background-image: url("../../footer_lodyas.png");
    box-shadow: 0 3px 3px black;
    padding: 0.3em;
  }
  
  .navLinks {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .navLinks a {
    text-decoration: none;
    margin: 1em;
  }

  .navLinks a:visited {
    color: #EAC67A;
  }

  .navbar a {
    font-weight: 500;
    color: #EAC67A;
    text-decoration: none;
  }

  .navbar a:hover {
    font-size: 1.08em;
    color: #984B43;
  }

  .icon-links {
    display: none;
  }

  .icon-links img {
    height: 30px;
    margin: 5px;
  }

  .icon-links img:hover {
    height: 35px;
    margin: 5px;
  }


/* navbar {
  width: 220px;
  transform: translateX(-220px);
  transition: transform 400ms ease-in;
}
#navbar.slideIn {
  transform: translateX(0);
}
#navbar.slideOut {
  transform: translateX(-220px);
} */

@media screen and (min-width: 1025px) {
  .navbar {
    margin-top: -91px;
    margin-left: -1px;
    position: fixed;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    z-index: 12;
    box-shadow: 7px 0 10px black;
  }
  
  .navLinks {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }

  .navbar a {
    font-weight: 500;
  }

  .navbar li {
    border-bottom: 1px solid gray;
  }

  .icon-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #233237;
    padding: 0.5em;
    box-shadow: 5px 5px 5px black;
  }

}