  .navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 12;
    text-align: center;
    font-family: input-serif, serif;
    font-weight: 200;
    font-style: normal;
    font-size: 0.85em;
  }
  
  .navLinks {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #2e2f45;
  }

  .navLinks a {
    text-decoration: none;
    margin: 1em;
    color: white;
    border-bottom: 1px solid gray;
  }

  .navLinks a:visited {
    color: white;
  }

  .navbar a {
    font-weight: 500;
    color: white;
    text-decoration: none;
  }

  .navbar a:hover {
    font-size: 1.08em;
    color: blue;
  }

  .icon-links {
    display: flex;
    flex-direction: column;
    display: none;
  }

  .icon-links img {
    height: 30px;
    margin: 5px;
  }

/* navbar {
  width: 220px;
  transform: translateX(-220px);
  transition: transform 400ms ease-in;
}
#navbar.slideIn {
  transform: translateX(0);
}
#navbar.slideOut {
  transform: translateX(-220px);
} */

@media screen and (min-width: 768px) {
  .navbar {
    margin-top: -86px;
    position: fixed;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    background-color: #2e2f45;
    border-right: 3px solid black;
    z-index: 12;
    
  }
  
.navLinks {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.navLinks a {
  text-decoration: none;
  margin: 1em;
  color: white;
}

.navLinks a:visited {
  color: white;
}

.navbar a {
  font-weight: 500;
}

.navbar a:hover {
  font-size: 1.08em;
  color: blue;
}

.navbar li {
  border-bottom: 1px solid gray;
}

.icon-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon-links img {
  height: 30px;
  margin: 5px;
}

navbar {
  width: 220px;
  transform: translateX(-220px);
  transition: transform 400ms ease-in;
}
#navbar.slideIn {
  transform: translateX(0);
}
#navbar.slideOut {
  transform: translateX(-220px);
}
}