
.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 300ms linear;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
}

.section-header {
  font-size: 1.6em;
  padding: 0.8em;
}

footer {
  position: fixed;
  background-color: #ccc;
  width: 100%;
  top: 670px;
  z-index: 11;
  display: flex;
  justify-content: center;
  text-align: center;
}

.stack-logos {
  z-index: 11;
  height: 75px;
  margin: 5px;
}

h3 {
  font-family: input-serif, serif;
  font-weight: 500;
  font-style: normal;
}

p {
  font-size: 1.12em;
  font-weight: 500;
}