body {
  box-sizing: border-box;
  margin: 0;
  /* font-family: bely, sans-serif;
  font-weight: 400;
  font-style: normal; */
  font-family: interstate, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #555;
  background-image: url("./background-2025316.svg")
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
